<form action="/register" method="POST">
<label for="userName">Username</label>
<input type="text" name="userName"><br>
<label for="password">Password</label>
<input type="password" name="password">
<br>
<label for="firstName">firstName</label>
<input type="text" name="firstName">
<br>
<label for="lastName">lastName</label>
<input type="text" name="lastName">
<br>

<input type="submit" value="Register">
</form>